.header {
    display: flex;
    justify-content: space-between;
}
.navbar_items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
ul {
    list-style-type: none;
}
body {
    background: #E5E5E5;
}